.carousel {
  overflow: hidden;
  position: relative;

  //.carousel-window {
  //  height: 100%;
  //  width: 999999px;
  //  transition: all 1s;

    .carousel-item {
      height: 100%;
      display:none;
      position: relative;
      float:left;
      text-align: center;
      overflow: hidden;
      transition: transform 1s;

      .carousel-item-image {
        position: absolute;
        left: 50%;
        top: 0;
        max-height: 100%;
        max-width: 100%;
        z-index: -1;
        transform: translate(-50%, 0)
      }

      &.move-next {
        display: block;
        transform: translate3d(100%,0,0);
        position: absolute;
        top: 0;
      }

      &.move-left {
        transform: translate3d(-100%,0,0);


        &.move-next {
          transform: translate3d(0,0,0);
        }
      }

      &.active {
        display: block;
      }
    }
  //}

  .left-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right: 10px solid rgba(100,100,100, 0.5);

    position: absolute;
    left: 0;
    top: 50%;

    cursor: pointer;
  }

  .right-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 10px solid rgba(100,100,100, 0.5);

    position: absolute;
    right: 0;
    top: 50%;

    cursor: pointer;
  }

  .dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);

    .dot {
      height: 25px;
      width: 25px;
      background-color: rgba(100,100,100,0.5);
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;

      & + .dot {
        margin-left: 10px;
      }
    }
  }
}